flows.json
[{"id":"9bd8b804.005308","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4bdc2d96.30e464","type":"ui_form","z":"9bd8b804.005308","name":"","label":"","group":"e6201b1a.af8738","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pr","type":"number","required":false,"rows":null},{"label":"Glucose","value":"gl","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"bp","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"ins","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"dpf","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"text","required":true,"rows":null}],"formValue":{"pr":"","gl":"","bp":"","st":"","ins":"","bmi":"","dpf":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":380,"wires":[["c95927cb.c4bba8","bb1a4e73.82f06"]]},{"id":"c95927cb.c4bba8","type":"debug","z":"9bd8b804.005308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":460,"wires":[]},{"id":"bb1a4e73.82f06","type":"function","z":"9bd8b804.005308","name":"pre-token","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"gl\",msg.payload.gl)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ins\",msg.payload.ins)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"LS9POouvBJMUybKI_CvKWPgFDWcuBxCy0XZ6g-fQKOtJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["ac493bbc.688cd8"]]},{"id":"ac493bbc.688cd8","type":"http request","z":"9bd8b804.005308","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":572.0000038146973,"y":364.00000286102295,"wires":[["144cc535.e6741b","c8993f90.d16f4"]]},{"id":"144cc535.e6741b","type":"debug","z":"9bd8b804.005308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":420,"wires":[]},{"id":"c8993f90.d16f4","type":"function","z":"9bd8b804.005308","name":"Pre Prediction","func":"var pr = global.get(\"pr\")\nvar gl = global.get(\"gl\")\nvar bp = global.get(\"bp\")\nvar st = global.get(\"st\")\nvar ins = global.get(\"ins\")\nvar bmi = global.get(\"bmi\")\nvar dpf = global.get(\"dpf\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Pregnancies\", \"Glucose\", \"BloodPressure\", \"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\": [[pr,gl,bp,st,ins,bmi,dpf,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":764.0000076293945,"y":316.0000021457672,"wires":[["d024681a.13d558"]]},{"id":"d024681a.13d558","type":"http request","z":"9bd8b804.005308","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/803de44f-cd8e-4507-9190-504a049befcf/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":340,"wires":[["4047d6b2.b4d2c8","ebd4939c.7673c"]]},{"id":"4047d6b2.b4d2c8","type":"debug","z":"9bd8b804.005308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1142.9999914169312,"y":424.00000381469727,"wires":[]},{"id":"5bab5f98.35a6d","type":"inject","z":"9bd8b804.005308","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":220,"wires":[["bb1a4e73.82f06"]]},{"id":"7e4efacb.c6ad14","type":"debug","z":"9bd8b804.005308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":973.9999885559082,"y":207.0000057220459,"wires":[]},{"id":"ebd4939c.7673c","type":"function","z":"9bd8b804.005308","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":819.6000595092773,"y":248.00000190734863,"wires":[["7e4efacb.c6ad14","744ec3c4.3571fc"]]},{"id":"744ec3c4.3571fc","type":"ui_text","z":"9bd8b804.005308","group":"e6201b1a.af8738","order":2,"width":0,"height":0,"name":"Prediction","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":937.6000366210938,"y":481.20001220703125,"wires":[]},{"id":"e6201b1a.af8738","type":"ui_group","z":"9bd8b804.005308","name":"New","tab":"6742166c.cccb58","order":1,"disp":true,"width":"6","collapse":false},{"id":"6742166c.cccb58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]